{% extends 'layout/base.html.twig' %}

{% block body_id 'examen_edit' %}

    {% block main %}
        <div class="h4">Editar examen prequirúrgico</div>

        {{ form_start(edit_form) }}
        <div class="form-group">
            <label for="paciente" class="control-label">Paciente</label>
            <input class="form-control" id="paciente" value="{{ examen.paciente }}" readonly>
        </div>
        {{ form_widget(edit_form) }}

        <input type="submit" value="Guardar cambios" class="btn btn-primary" />
        <a class="btn btn-danger" href="{{ path('paciente_examenes', {'id': examen.paciente.id }) }}">Cancelar</a>
        {{ form_end(edit_form) }}
    {% endblock %}
