{% extends 'layout/base.html.twig' %}

{% block body_id "paciente_examenes" %}

{% block main %}
    <div class="h4">Exámenes prequirúrgicos<br>de {{ paciente }}</div>

    {% if examenes is not empty %}
        {{ include ('_delete_entity_confirmation.html.twig') }}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Médico</th>
                    <th>Riesgo cardiológico</th>
                    <th><i class="fa fa-cogs" aria-hidden="true"></i> Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for examen in examenes %}
                    <tr>
                        <td>{{ examen.fecha|date('d/m/Y') }}</td>
                        <td><a href="{{ path('usuario_show', {'id': examen.medico.id}) }}" target="_blank">{{ examen.medico }}</a></td>
                        <td>{{ examen.gradoRiesgo }}</td>
                        <td>
                            <div class="item-actions">
                                {% if is_granted('ROLE_MEDICO') %}

                                    <a href="{{ path('examen_show', { 'id': examen.id }) }}" class="btn btn-sm btn-default">Ver</a>
                                    <a href="{{ path('examen_edit', { 'id': examen.id }) }}" class="btn btn-sm btn-primary">
                                        <i class="fa fa-edit" aria-hidden="true"></i> Editar
                                    </a>
                                    {{ include('_delete_form.html.twig', {
                            attr: {'style': 'display: inline-block'},
                            form: delete_forms[examen.id],
                            includeModal: false,
                            button_label: 'Eliminar',
                            button_css: 'btn-sm',
                        }) }}
                                {% endif %}
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="navigation">
            {{ knp_pagination_render(examenes) }}
        </div>
        <a class="btn btn-link" href="{{ path('paciente_show', {'id': paciente.id}) }}">Volver a datos de paciente</a>
    {% else %}
        <p>Aún no existe ningún registro de examen prequirúrgico.</p>
    {% endif %}
{% endblock %}

{% block sidebar %}
    {% if is_granted('ROLE_MEDICO') %}
        <div class="section">
            <a href="{{ path('paciente_registrar-examen', {'id': paciente.id}) }}" class="btn btn-md btn-block btn-success">
                <i class="fa fa-plus" aria-hidden="true"></i> Nuevo examen
            </a>
        </div>
    {% endif %}

    {{ parent() }}
{% endblock %}
