{% extends 'base.html.twig' %}

{% block body_id "examen_index" %}
    {% block main %}
        <h1>Registro de exámenes prequirúrgicos</h1>
        Paciente: {{ paciente }}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Médico</th>
                    <th>Grado de riesgo</th>
                    <th><i class="fa fa-cogs" aria-hidden="true"></i> Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for examen in examens %}
                    <tr>
                        <td>{{ examen.fecha|date('d/m/Y') }}</td>
                        <td>{{ examen.medico }}</td>
                        <td>{{ examen.gradoRiesgo }}</td>
                        <td>
                            <div class="item-actions">
                                <a href="{{ path('examen_show', { 'id': examen.id }) }}" class="btn btn-sm btn-default">Ver</a>
                                <a href="{{ path('examen_edit', { 'id': examen.id }) }}" class="btn btn-sm btn-primary">
                                    <i class="fa fa-edit" aria-hidden="true"></i> Editar
                                </a>
                                {{ include('_delete_form.html.twig', {
                            attr: {'style': 'display: inline-block'},
                            form: delete_forms[examen.id],
                            button_label: 'Eliminar',
                            button_css: 'btn-sm',
                        }) }}
                            </div>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5" align="center">Aún no existe ningún registro de examen prequirúrgico.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endblock %}

    {% block sidebar %}
        <div class="section actions">
            {{ form_start(new_form) }}
            {{ form_widget(new_form) }}
            <button type="submit" class="btn btn-lg btn-block btn-success">
                <i class="fa fa-plus" aria-hidden="true"></i> Nuevo examen
            </button>
            {{ form_end(new_form) }}
        </div>

        {{ parent() }}
    {% endblock %}