{% extends 'layout/base.html.twig' %}

{% block block_id "examen_show" %}

{% block main %}
    <div class="h4">Examen prequirúrgico</div>

    <table class="table table-bordered">
        <tbody>
            <tr>
                <th>Paciente</th>
                <td><a href="{{ path('paciente_show', {'id': examen.paciente.id}) }}">{{ examen.paciente }}</a></td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{{ examen.fecha|date('d/m/Y') }}</td>
            </tr>
            <tr>
                <th>Derivado desde</th>
                <td>{{ examen.derivadoDesde|default('-') }}</td>
            </tr>
            <tr>
                <th>Cirugía/Procedimiento</th>
                <td>{{ examen.procedimiento }}</td>
            </tr>
            <tr>
                <th>FRCV</th>
                <td>
                    {% if examen.factores is not empty %}
                        <ul>
                        {% for factor in examen.factores %}
                            <li>{{ factor }}</li>
                        {% endfor %}
                        </ul>
                    {% else %}-{% endif %}
                </td>
            </tr>
            <tr>
                <th>Otros factores</th>
                <td>{{ examen.otrosFactores|default('-') }}</td>
            </tr>
            <tr>
                <th>Medicación</th>
                <td>
                    {% if examen.medicaciones is not empty %}
                        <ul>
                        {% for medicacion in examen.medicaciones %}
                            <li>{{ medicacion }}</li>
                        {% endfor %}
                        </ul>
                    {% else %}-{% endif %}
                </td>
            </tr>
            <tr>
                <th>Otras medicaciones</th>
                <td>{{ examen.otrasMedicaciones|default('-') }}</td>
            </tr>
            <tr>
                <th class="col-md-2"><label for="antecedentes">Antecedentes</label></th>
                <td class="col-md-10"><textarea class="form-control" readonly rows="2" id="antecedentes">{{ examen.antecedentes | default('Sin antecedentes') }}</textarea></td>
            </tr>
            <tr>
                <th>Tensión arterial</th>
                <td>{{ examen.tensionArterial|default('-') }}</td>
            </tr>
            <tr>
                <th>Ruido 1</th>
                <td>{% if examen.ruido1 %}Sí{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Ruido 2</th>
                <td>{% if examen.ruido2 %}Sí{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Ruido 3</th>
                <td>{% if examen.ruido3 %}Sí{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Ruido 4</th>
                <td>{% if examen.ruido4 %}Sí{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Soplos</th>
                <td>{% if examen.soplos %}Sí{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th class="col-md-2"><label for="soplos">Soplos comentarios</label></th>
                <td class="col-md-10"><textarea class="form-control" readonly rows="2" id="soplos">{{ examen.soplosComentario | default('No hay comentarios') }}</textarea></td>
            </tr>
            <tr>
                <th class="col-md-2"><label for="aparato-respiratorio">Aparato respiratorio</label></th>
                <td class="col-md-10"><textarea class="form-control" readonly rows="2" id="aparato-respiratorio">{{ examen.aparatoRespiratorio | default('-') }}</textarea></td>
            </tr>
            <tr>
                <th class="col-md-2"><label for="electro">Electrocardiograma</label></th>
                <td class="col-md-10"><textarea class="form-control" readonly rows="2" id="electro">{{ examen.electrocardiograma | default('-') }}</textarea></td>
            </tr>
            <tr>
                <th class="col-md-2"><label for="comentarios">Comentarios</label></th>
                <td class="col-md-10"><textarea class="form-control" readonly rows="5" id="comentarios">{{ examen.comentarios | default('No hay comentarios') }}</textarea></td>
            </tr>
            <tr>
                <th>Grado riesgo</th>
                <td>{{ examen.gradoRiesgo }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-link" href="{{ path('paciente_examenes', {'id': examen.paciente.id }) }}">Volver al listado de exámenes</a>
{% endblock %}

{% block sidebar %}
    <div class="section">
        <a href="{{ path('examen_edit', { 'id': examen.id }) }}" class="btn btn-md btn-block btn-success">
            <i class="fa fa-edit" aria-hidden="true"></i> Editar examen
        </a>
    </div>

    <div class="section">
        <a href="{{ path('examen_print', { 'id': examen.id }) }}" class="btn btn-md btn-block btn-primary">
            <i class="fa fa-download" aria-hidden="true"></i> Generar PDF
        </a>
    </div>

    <div class="section">
        {{ include('_delete_form.html.twig', {
            form: delete_form,
            button_label: 'Eliminar examen',
            button_css: 'btn-md btn-block',
        }) }}
    </div>

    {{ parent() }}
{% endblock %}
