{% extends 'base.html.twig' %}

{% block body_id "admin_factor_index" %}
    
    {% block main %}
        <h1>Lista de factores de riesgo</h1>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Factor de riesgo</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for factor in factors %}
                    <tr>
                        <td>{{ factor.factor }}</td>
                        <td>
                            <div class="item-actions">
                                <a href="{{ path('factor_edit', { 'id': factor.id }) }}" class="btn btn-sm btn-primary">
                                    <i class="fa fa-edit" aria-hidden="true"></i> Editar
                                </a>
                                {{ include('_delete_form.html.twig', {
                                    attr: {'style': 'display: inline-block'},
                                    form: delete_forms[factor.id],
                                    button_label: 'Eliminar',
                                    button_css: 'btn-sm',
                                }) }}
                            </div>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="2" align="center">No se ha registrado ningún factor de riesgo.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endblock %}

    {% block sidebar %}
        <div class="section">
            <a href="{{ path('factor_new') }}" class="btn btn-lg btn-block btn-success">
                <i class="fa fa-plus" aria-hidden="true"></i> Agregar factor de riesgo
            </a>
        </div>

        {{ parent() }}
    {% endblock %}
