{% set attr = attr|default({})|merge({'data-confirmation': 'true'}) %}

{% if includeModal is not defined %}
    {% set includeModal = true %}
{% endif %}

{% include includeModal?'_delete_entity_confirmation.html.twig':'' ignore missing %}

{{ form_start(form, { attr: attr }) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-danger {{ button_css|default("") }}">
        <i class="fa fa-trash-o" aria-hidden="true"></i> {{ button_label|default('Eliminar') }}
    </button>
{{ form_end(form) }}
