<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Servicio de Cardiología - Hospital San Martín{% endblock %}</title>
        {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/bootstrap-datepicker3.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/bootstrap-flatly-3.3.7.min.css') }}">
        <link rel="stylesheet" href="{{ asset ('css/simple-sidebar.css ') }}">
        <link rel="stylesheet" href="{{ asset('css/font-awesome.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/font-lato.css') }}">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    </head>
    <body id="{% block body_id %}{% endblock %}">
        {% block header %}
            <header>
                <div class="navbar navbar-default navbar-static-top" role="navigation">
                    <div class="container">
                        <div class="navbar-header">
                            <a class="navbar-brand" href="/">
                                <p>Servicio de Cardiología</p>
                                <p>Hospital San Martín</p>
                            </a>

                            <button type="button" class="navbar-toggle"
                                    data-toggle="collapse"
                                    data-target=".navbar-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div class="navbar-collapse collapse">
                            <ul class="nav navbar-nav navbar-right">

                                {% block header_navigation_links %}
                                    <li>
                                        <a href="/">
                                            <i class="fa fa-home" aria-hidden="true"></i> Inicio
                                        </a>
                                    </li>
                                {% endblock %}

                                {% if app.user %}
                                    <li>
                                        <a href="{{ path('fos_user_security_logout') }}">
                                            <i class="fa fa-sign-out" aria-hidden="true"></i> Salir
                                        </a>
                                    </li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            </header>
        {% endblock %}
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
      <div id="wrapper">

          <!-- Sidebar -->
          <div id="sidebar-wrapper">
              <ul class="sidebar-nav">
                  <li class="sidebar-brand">
                      <a>
                          Panel
                      </a>
                  </li>
                  <li>
                      <a href="{{ path('usuario_index') }}">Usuario</a>
                  </li>
                  <li>
                      <a href="{{ path('paciente_index') }}">Paciente</a>
                  </li>
                  {% if is_granted('ROLE_ADMIN') %}
                  <li>
                      <a href="{{ path('motivo_index') }}">Motivo de Consulta</a>
                  </li>
                  {%endif%}
                  {% if is_granted('ROLE_ADMIN') %}
                  <li>
                      <a href="{{ path('diagnostico_index') }}">Diagnostico</a>
                  </li>
                  {%endif%}
                  {% if is_granted('ROLE_ADMIN') %}

                  <li>
                      <a href="{{ path('partido_index') }}">Partido</a>
                  </li>
                  {%endif%}
                  {% if is_granted('ROLE_ADMIN') %}

                  <li>
                      <a href="{{ path('localidad_index') }}">Localidad</a>
                  </li>
                  {%endif%}
                  {% if is_granted('ROLE_ADMIN') %}

                  <li>
                      <a href="{{ path('medicacion_index') }}">Medicacion</a>
                  </li>
                  {%endif%}

                  {% if is_granted('ROLE_ADMIN') %}

                  <li>
                      <a href="{{ path('factor_index') }}">Factor de riesgo</a>
                  </li>
                  {%endif%}
                  <li>
                      <a href="{{ path('examen_index') }}">Exámen prequirúrgico</a>
                  </li>
              </ul>
          </div>
          {% endif %}

        <div class="container body-container">
            {% block body %}
                <div class="row">
                    <div id="main" class="col-sm-9">
                        {# TODO: flash menssages #}
                    {% block main %}{% endblock %}
                </div>

                <div id="sidebar" class="col-sm-3">
                    {% block sidebar %}
                        <div class="section about">
                            <div class="well well-lg">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, accusantium autem dicta dolores hic veritatis.
                                </p>
                                <p>
                                    Lorem ipsum dolor sit amet.
                                </p>
                            </div>
                        </div>
                    {% endblock %}
                </div>
            </div>
        {% endblock %}
    </div>

    {% block footer %}
        <footer>
            <div class="container">
                <div class="row">
                    <div id="footer-copyright" class="col-md-6">
                        <p>&copy; {{ 'now'|date('Y') }} - Grupo Uno</p>
                    </div>
                    <div id="footer-resources" class="col-md-6">
                        <p>
                            <a href="" title="Grupo Uno Twitter">
                                <i class="fa fa-twitter" aria-hidden="true"></i>
                            </a>
                            <a href="" title="Grupo Uno Facebook">
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                            </a>
                            <a href="" title="Grupo Uno Blog">
                                <i class="fa fa-rss" aria-hidden="true"></i>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </footer>
    {% endblock %}

    {% block javascripts %}
        <script src="{{ asset('js/jquery-3.1.1.min.js') }}"></script>
        <script src="{{ asset('js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('js/bootstrap-datepicker.min.js') }}"></script>
        <script src="{{ asset('js/locales/bootstrap-datepicker.es.min.js') }}"></script>
        <script src="{{ asset('js/script.js') }}"></script>
    {% endblock %}
</body>
</html>
