{% extends 'layout/base.html.twig' %}

{% block body_id 'usuario_edit' %}

{% set PROFESION_MEDICO = constant('AppBundle\\Entity\\Usuario::PROFESION_MEDICO') %}

{% block main %}
    <div class="h4">Editar usuario</div>

    {{ form_start(edit_form) }}
        {{ form_row(edit_form.nombre) }}
        {{ form_row(edit_form.apellido) }}
        {{ form_row(edit_form.username) }}
        {{ form_row(edit_form.email) }}
        {{ form_row(edit_form.telefono) }}
        {{ form_row(edit_form.profesion) }}
        <div id="registration-medico-fields"
                {% if usuario.profesion != PROFESION_MEDICO %} style="display: none"{% endif %}>
            {{ form_row(edit_form.matricula) }}
            {{ form_row(edit_form.especialidad) }}
        </div>
        {{ form_row(edit_form.plainPassword) }}

        <input type="submit" value="Guardar cambios" class="btn btn-primary" />
        <a class="btn btn-danger" href="{{ path('usuario_show', {'id': usuario.id}) }}">Cancelar</a>
    {{ form_end(edit_form) }}
{% endblock %}
