{% extends 'layout/base.html.twig' %}

{% block body_id 'usuario_index' %}

{% block main %}
    <div class="h4">Listado de usuarios</div>

    {% if usuarios is not empty %}
    {{ include ('_delete_entity_confirmation.html.twig') }}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Apellido</th>
                <th>Nombre</th>
                <th>DNI</th>
                <th>Ocupación</th>
                <th><i class="fa fa-cogs" aria-hidden="true"></i> Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for usuario in usuarios %}
            <tr {% if not usuario.enabled %} class="text-danger" {% endif %}>
                <td>{{ usuario.apellido }}</td>
                <td>{{ usuario.nombre }}</td>
                <td>{{ usuario.username }}</td>
                <td>{{ usuario.profesion|capitalize }}</td>
                <td>
                    <div class="item-actions">
                        <a href="{{ path('usuario_show', { 'id': usuario.id }) }}" class="btn btn-sm btn-default">Ver</a>
                        {% if is_granted('ROLE_ADMIN') %}
                            <a href="{{ path('usuario_edit', { 'id': usuario.id }) }}" class="btn btn-sm btn-primary">
                                <i class="fa fa-edit" aria-hidden="true"></i> Editar
                            </a>
                            {{ include('_delete_form.html.twig', {
                                attr: {'style': 'display: inline-block'},
                                form: delete_forms[usuario.id],
                                includeModal: false,
                                button_label: 'Eliminar',
                                button_css: 'btn-sm',
                            }) }}
                        {% endif %}
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="navigation">
        {{ knp_pagination_render(usuarios) }}
    </div>
    {% else %}
        <p>Aún no se ha registrado ningún usuario.</p>
    {% endif %}
{% endblock %}

{% block sidebar %}
    {% if is_granted('ROLE_ADMIN') %}
        <div class="section">
            <a href="{{ path('usuario_new') }}" class="btn btn-md btn-block btn-success">
                <i class="fa fa-plus" aria-hidden="true"></i> Agregar usuario
            </a>
        </div>
    {% endif %}

    {{ parent() }}
{% endblock %}
