{% extends 'base.html.twig' %}

{% block main %}
    <h1>{{ usuario.nombre }} {{ usuario.apellido }}</h1>

    <table class="table">
        <tr>
            <th>DNI</th>
            <td>{{ usuario.username }}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{ usuario.email }}</td>
        </tr>
        <tr>
            <th>Teléfono</th>
            <td>{{ usuario.telefono|default('-') }}</td>
        </tr>
        <tr>
            <th>Profesión</th>
            <td>{{ usuario.profesion|capitalize }}</td>
        </tr>
        {% if usuario.profesion == constant('AppBundle\\Entity\\Usuario::PROFESION_MEDICO') %}
            <tr>
                <th>Matrícula</th>
                <td>{{ usuario.matricula|default('-') }}</td>
            </tr>
            <tr>
                <th>Especialidad</th>
                <td>{{ usuario.especialidad|default('-') }}</td>
            </tr>
        {% endif %}
    </table>

    <a class="btn btn-link" href="{{ path('usuario_index') }}">Volver al listado</a>

{% endblock %}

{% block sidebar %}
    <div class="section">
        <a href="{{ path('usuario_edit', { 'id': usuario.id }) }}" class="btn btn-lg btn-block btn-success">
            <i class="fa fa-edit" aria-hidden="true"></i> Editar usuario
        </a>
    </div>

    <div class="section">
        {{ include('_delete_form.html.twig', {
            form: delete_form,
            button_label: 'Eliminar usuario',
            button_css: 'btn-lg btn-block',
        }) }}
    </div>

    {{ parent() }}
{% endblock %}
