{% extends 'layout/base.html.twig' %}

{% block body_id 'usuario_show' %}

    {% block main %}
        <div class="h4">{{ usuario }}</div>

        {% if not usuario.enabled %}
            <div class="text-danger">
                <h4>Este usuario se encuentra deshabilitado.</h4>
            </div>
        {% endif %}

        <table class="table">
            <tr>
                <th>DNI</th>
                <td>{{ usuario.username }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ usuario.email }}</td>
            </tr>
            <tr>
                <th>Teléfono</th>
                <td>{{ usuario.telefono|default('-') }}</td>
            </tr>
            <tr>
                <th>Ocupación</th>
                <td>{{ usuario.profesion|capitalize }}</td>
            </tr>
            {% if usuario.profesion == constant('AppBundle\\Entity\\Usuario::PROFESION_MEDICO') %}
                <tr>
                    <th>Matrícula</th>
                    <td>{{ usuario.matricula|default('-') }}</td>
                </tr>
                <tr>
                    <th>Especialidad</th>
                    <td>{{ usuario.especialidad|default('-') }}</td>
                </tr>
            {% endif %}
        </table>

        <a class="btn btn-link" href="{{ path('usuario_index') }}">Volver al listado de usuarios</a>

    {% endblock %}

    {% block sidebar %}
        {% if is_granted('ROLE_ADMIN') %}
            <div class="section">
                <a href="{{ path('usuario_edit', { 'id': usuario.id }) }}" class="btn btn-md btn-block btn-success">
                    <i class="fa fa-edit" aria-hidden="true"></i> Editar usuario
                </a>
            </div>

            {% if app.user != usuario %}
                <div class="section">
                    {{ form_start(switch_enabled_form) }}
                    {{ form_widget(switch_enabled_form) }}
                    <button type="submit" class="btn btn-primary btn-md btn-block">
                        {% if switch_enabled_form.usuario_enabled.vars.value %}
                            <i class="fa fa-toggle-on" aria-hidden="true"></i> Deshabilitar usuario
                        {% else %}
                            <i class="fa fa-toggle-off" aria-hidden="true"></i> Habilitar usuario
                        {% endif %}
                    </button>
                    {{ form_end(switch_enabled_form) }}
                </div>

                <div class="section">
                    {{ form_start(switch_admin_form) }}
                    {{ form_widget(switch_admin_form) }}
                    <button type="submit" class="btn btn-primary btn-md btn-block">
                        {% if switch_admin_form.usuario_admin.vars.value %}
                            <i class="fa fa-toggle-on" aria-hidden="true"></i> Quitar rol de administrador
                        {% else %}
                            <i class="fa fa-toggle-off" aria-hidden="true"></i> Convertir en administrador
                        {% endif %}
                    </button>
                    {{ form_end(switch_admin_form) }}
                </div>

                <div class="section">
                    {{ include('_delete_form.html.twig', {
                    form: delete_form,
                    button_label: 'Eliminar usuario',
                    button_css: 'btn-md btn-block',
                }) }}
                </div>
            {% endif %}
        {% endif %}

        {{ parent() }}
    {% endblock %}
