{% extends 'layout/base.html.twig' %}

{% block body_id 'visita_edit' %}

{% block main %}
    <h1>Editar visita</h1>

    {{ form_start(edit_form) }}
        <div class="form-group">
            <label for="paciente" class="control-label">Paciente</label>
            <input class="form-control" id="paciente" value="{{ visita.paciente }}" readonly>
        </div>
        {{ form_widget(edit_form) }}

        <input type="submit" value="Guardar cambios" class="btn btn-primary" />
        <a class="btn btn-danger" href="{{ path('paciente_historia-clinica', {'id': visita.paciente.id}) }}">Cancelar</a>
    {{ form_end(edit_form) }}
{% endblock %}
