{% extends 'layout/base.html.twig' %}

{% block body_id 'paciente_registrar-visita' %}

{% block main %}
    <div class="h4">Registrar visita</div>

    {{ form_start(form) }}
        <div class="form-group">
            <label for="paciente" class="control-label">Paciente</label>
            <input class="form-control" id="paciente" value="{{ visita.paciente }}" readonly>
        </div>
        <div class="form-group">
            <label for="medico" class="control-label">Médico</label>
            <input class="form-control" id="medico" value="{{ visita.medico }}" readonly>
        </div>
        {{ form_widget(form) }}
        <input type="submit" value="Guardar" class="btn btn-primary" />
        <a class="btn btn-danger" href="{{ path('paciente_historia-clinica', {'id': visita.paciente.id}) }}">Cancelar</a>
    {{ form_end(form) }}
{% endblock %}
