{% extends 'layout/base.html.twig' %}

{% block body_id 'paciente_edit' %}

{% block main %}
    <h1>Editar paciente</h1>

    {{ form_start(edit_form) }}
        {{ form_row(edit_form.dni, { 'attr': {'class': 'hide-spinners'}}) }}
        {{ form_row(edit_form.nombre) }}
        {{ form_row(edit_form.apellido) }}
        {{ form_row(edit_form.edad) }}
        {{ form_row(edit_form.sexo) }}
        {{ form_row(edit_form.medico) }}
        {{ form_row(edit_form.localidad) }}
        {{ form_row(edit_form.obraSocial) }}

        <input type="submit" value="Guardar cambios" class="btn btn-primary" />
        <a class="btn btn-danger" href="{{ path('paciente_show', {'id': paciente.id}) }}">Cancelar</a>
    {{ form_end(edit_form) }}
{% endblock %}
