{% extends 'base.html.twig' %}

{% block body_id 'paciente_index' %}

{% block main %}
    <h1>Listado de pacientes</h1>

    {% if pacientes is not empty %}
    <table class="table table-striped">
        <thead>
            <tr>
              <th>DNI</th>
              <th>Nombre</th>
              <th>Apellido</th>
              <th><i class="fa fa-cogs" aria-hidden="true"></i> Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for paciente in pacientes %}
            <tr>
                <td>{{ paciente.dni|default('-') }}</td>
                <td>{{ paciente.nombre }}</td>
                <td>{{ paciente.apellido }}</td>
                <td>
                    <div class="item-actions">
                        <a href="{{ path('paciente_show', { 'id': paciente.id }) }}" class="btn btn-sm btn-default">Ver</a>
                        <a href="{{ path('paciente_edit', { 'id': paciente.id }) }}" class="btn btn-sm btn-primary">
                            <i class="fa fa-edit" aria-hidden="true"></i> Editar
                        </a>
                        {% if is_granted('ROLE_ADMIN') %}
                            {{ include('_delete_form.html.twig', {
                                attr: {'style': 'display: inline-block'},
                                form: delete_forms[paciente.id],
                                button_label: 'Eliminar',
                                button_css: 'btn-sm',
                            }) }}
                        {% endif %}
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
        <p>Aún no se ha registrado ningún paciente.</p>
    {% endif %}
{% endblock %}

{% block sidebar %}
    <div class="section">
        <a href="{{ path('paciente_new') }}" class="btn btn-lg btn-block btn-success">
            <i class="fa fa-plus" aria-hidden="true"></i> Agregar paciente
        </a>
    </div>

    {{ parent() }}
{% endblock %}
