{% extends 'layout/base.html.twig' %}

{% block body_id 'paciente_reports' %}

{% block main %}
    <h1>Pacientes</h1>

    <div id="grafico" style="min-width: 400px; height: 400px; margin: 0 auto"></div>

    {#<div><a class="btn btn-link" href="{{ path('paciente_index') }}">Volver al listado de pacientes</a></div>#}
{% endblock %}

{#{% block sidebar %}#}

    {#<div class="section">#}
        {#<h4>Generar reporte</h4>#}

        {#<div class="well well-lg">#}
            {#{{ include('paciente/_reports_form.html.twig', }#}
                {#attr: {'style': 'display: inline-block'},#}
                {#busqueda: reports_form#}
            {#}) }}#}
        {#</div>#}
    {#</div>#}

{#{% endblock %}#}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/highcharts/highcharts.js') }}"></script>
    <script src="{{ asset('js/highcharts/modules/exporting.js') }}"></script>
    <script type="text/javascript">
        {{ chart(chart) }}
    </script>
{% endblock %}