<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="sidebar-brand">Menú</li>
        <li><a href="#" id="btn-config" data-toggle="collapse" data-target="#submenu-pacientes" aria-expanded="false">Pacientes</a>
            <ul class="nav collapse" id="submenu-pacientes" role="menu" aria-labelledby="btn-1">
                <li><a href="{{ path('paciente_new') }}">Nuevo</a></li>
                <li><a href="{{ path('paciente_index') }}">Listado</a></li>
                <li><a href="{{ path('visita_reporte') }}">Reportes</a></li>
            </ul>
        </li>
        <li><a href="{{ path('usuario_index') }}">Usuarios</a></li>
        {% if is_granted('ROLE_ADMIN') %}
            <li><a href="#" id="btn-config" data-toggle="collapse" data-target="#submenu-config" aria-expanded="false">Configuración</a>
                <ul class="nav collapse" id="submenu-config" role="menu" aria-labelledby="btn-1">
                    <li><a href="{{ path('diagnostico_index') }}">Diagnósticos</a></li>
                    <li><a href="{{ path('factor_index') }}">Factores de riesgo</a></li>
                    <li><a href="{{ path('localidad_index') }}">Localidades</a></li>
                    <li><a href="{{ path('medicacion_index') }}">Medicación</a></li>
                    <li><a href="{{ path('motivo_index') }}">Motivos de consulta</a></li>
                    <li><a href="{{ path('partido_index') }}">Partidos</a></li>
                </ul>
            </li>
            <li><a href="{{ path('backup_index') }}">Copia de seguridad</a></li>
        {% endif %}
    </ul>
</div>
