<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Servicio de Cardiología - Hospital San Martín{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/jquery-ui.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/bootstrap-datepicker3.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/bootstrap-flatly-3.3.7.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/simple-sidebar.css ') }}">
        <link rel="stylesheet" href="{{ asset('css/font-awesome.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/font-lato.css') }}">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body id="{% block body_id %}{% endblock %}">
    {% block header %}
        {% include 'layout/_navbar.html.twig' %}
    {% endblock %}

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
    <div id="wrapper" class="container-fluid">
        {% include 'layout/_menu.html.twig' %}
        {% endif %}
        <div class="container body-container">
            {% block body %}
                <div class="row">
                    <div id="main" class="col-sm-8">
                        {% if app.request.hasPreviousSession %}
                            {% for type, messages in app.session.flashbag.all() %}
                                {% for message in messages %}
                                    <div class="alert alert-{{ type }} alert-dismissible text-center" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Cerrar">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        {{ message }}
                                    </div>
                                {% endfor %}
                            {% endfor %}
                        {% endif %}
                        {% block main %}{% endblock %}
                    </div>

                    <div id="sidebar" class="col-sm-3">
                        {% block sidebar %}{% endblock %}
                    </div>
                </div>
            {% endblock %}
        </div>
        {% block footer %}
            {% include 'layout/_footer.html.twig' %}
        {% endblock %}
    </div>


    {% block javascripts %}
        <script src="{{ asset('js/jquery-3.1.1.min.js') }}"></script>
        <script src="{{ asset('js/jquery-ui.min.js') }}"></script>
        <script src="{{ asset('js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('js/bootstrap-datepicker.min.js') }}"></script>
        <script src="{{ asset('js/locales/bootstrap-datepicker.es.min.js') }}"></script>
        <script src="{{ asset('js/script.js') }}"></script>
    {% endblock %}
</body>
</html>
