{% extends 'base.html.twig' %}

{% block body_id "admin_partido_edit" %}

{% block main %}
    <h1>Editar partido</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}

        <input type="submit" value="Guardar cambios" class="btn btn-primary" />

        <a class="btn btn-link" href="{{ path('partido_index') }}">Volver a listado</a>
    {{ form_end(edit_form) }}

{% endblock %}

{% block sidebar %}
    <div class="section">
        {{ include('partido/_form.html.twig', {
            form: delete_form,
            button_label: 'Eliminar partido',
            button_css: 'btn btn-lg btn-block btn-danger',
            show_confirmation: true,
        }, with_context = false) }}
    </div>

    {{ parent() }}
{% endblock %}
