{% extends 'layout/base.html.twig' %}

{% block body_id 'partido_index' %}

{% block main %}
    <div class="h4">Listado de partidos</div>

    {% if partidos is not empty %}
    {{ include ('_delete_entity_confirmation.html.twig') }}
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Partido</th>
            <th><i class="fa fa-cogs" aria-hidden="true"></i> Acciones</th>
        </tr>
        </thead>
        <tbody>
        {% for partido in partidos %}
            <tr>
                <td>{{ partido.partido }}</td>
                <td>
                    <div class="item-actions">
                        <a href="{{ path('partido_edit', { 'id': partido.id }) }}" class="btn btn-sm btn-primary">
                            <i class="fa fa-edit" aria-hidden="true"></i> Editar
                        </a>
                        {{ include('_delete_form.html.twig', {
                            attr: {'style': 'display: inline-block'},
                            form: delete_forms[partido.id],
                            includeModal: false,
                            button_label: 'Eliminar',
                            button_css: 'btn-sm',
                        }) }}
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="navigation">
        {{ knp_pagination_render(partidos) }}
    </div>
    {% else %}
        <p>Aún no se ha registrado ningún partido.</p>
    {% endif %}
{% endblock %}

{% block sidebar %}
    <div class="section">
        <a href="{{ path('partido_new') }}" class="btn btn-md btn-block btn-success">
            <i class="fa fa-plus" aria-hidden="true"></i> Agregar partido
        </a>
    </div>

    {{ parent() }}
{% endblock %}
