{% extends 'base.html.twig' %}

{% block body %}
    <h1>Partido list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Partido</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for partido in partidos %}
            <tr>
                <td><a href="{{ path('partido_show', { 'id': partido.id }) }}">{{ partido.id }}</a></td>
                <td>{{ partido.partido }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('partido_show', { 'id': partido.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('partido_edit', { 'id': partido.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('partido_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
