{% extends 'base.html.twig' %}

{% block body %}
    <h1>Partido</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ partido.id }}</td>
            </tr>
            <tr>
                <th>Partido</th>
                <td>{{ partido.partido }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('partido_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('partido_edit', { 'id': partido.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
