{% extends 'base.html.twig' %}

{% block body_id "admin_medicacion_show" %}

{% block main %}
    <h1>Opción de medicación para examen prequirúrgico</h1>

    <table class="table table-striped">
        <tbody>
            <tr>
                <th scope="row">Id</th>
                <th scope="row">Opción de medicación</th>
            </tr>
            <tr>
                <td>{{ medicacion.id }}</td>
                <td>{{ medicacion.medicacion}}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-link" href="{{ path('medicacion_index') }}">Volver a listado</a>

{% endblock %}

{% block sidebar %}
    <div class="section">
        <a href="{{ path('medicacion_edit', { 'id': medicacion.id }) }}" class="btn btn-lg btn-block btn-success">
            <i class="fa fa-edit" aria-hidden="true"></i> Editar opción
        </a>
    </div>

    <div class="section">
        {{ include('_delete_form.html.twig', {
            form: delete_form,
            button_label: 'Eliminar opción',
            button_css: 'btn-lg btn-block',
        }) }}
    </div>

    {{ parent() }}
{% endblock %}