{% extends 'base.html.twig' %}

{% block body_id 'admin_localidad_index' %}

    {% block main %}
        <h1>Listado de localidades</h1>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Localidad</th>
                    <th>Código postal</th>
                    <th>Partido</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for localidad in localidads %}
                    <tr>
                        <td>{{ localidad.localidad }}</td>
                        <td>{{ localidad.codPostal }}</td>
                        <td>{{ localidad.partido }}</td>
                        <td>
                            <div class="item-actions">
                                <a href="{{ path('localidad_edit', { 'id': localidad.id }) }}" class="btn btn-sm btn-primary">
                                    <i class="fa fa-edit" aria-hidden="true"></i> Editar
                                </a>
                                {{ include('_delete_form.html.twig', {
                                    attr: {'style': 'display: inline-block'},
                                    form: delete_forms[localidad.id],
                                    button_label: 'Eliminar',
                                    button_css: 'btn-sm',
                                }) }}
                            </div>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="2" align="center">No se ha registrado ninguna localidad.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endblock %}

    {% block sidebar %}
        <div class="section">
            <a href="{{ path('localidad_new') }}" class="btn btn-lg btn-block btn-success">
                <i class="fa fa-plus" aria-hidden="true"></i> Agregar localidad
            </a>
        </div>

        {{ parent() }}
    {% endblock %}
